<!-- views/add-product.ejs -->

<h1 class="mt-5 mb-4">Add New Product</h1>

<%if(errorMessage){ %>
<div class="alert alert-danger" role="alert">
    <%=errorMessage %>
  </div>
  <% } %>
<form action="/" method="post"> 
    <!-- submit at the default path  -->
    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" required >
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Product Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" required ></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" step="0.01" min="0" required>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="url" class="form-control" id="imageURL" name="imageURL" required>
    </div>

    <div class="mb-3">
        <label for="stockLeft" class="form-label">Quanitity in Stock</label>
        <input type="number" class="form-control" id="stockLeft" name="stockLeft"  step="0.01" min="0"  required >
    </div>

    <div class="mb-3">
        <label for="expiryDate" class="form-label">Expiry Date dd/mm/yyyy</label>
        <textarea class="form-control" id="expiryDate" name="expiryDate" rows="3"   required  ></textarea >
    </div>

    <div class="mb-3">
        <label for="categoryType" class="form-label">Product Category</label>
        <input type="text" class="form-control" id="categoryType" name="categoryType"  required >
    </div>

    <div class="mb-3">
        <label for="thresholdQuantity" class="form-label">Enter Minimum Product Quantity for Restock</label>
        <input type="number" class="form-control" id="thresholdQuantity" name="thresholdQuantity"  required >
    </div>

    


    <button type="submit" class="btn btn-primary">Add Product</button>
</form>